.button {
    height: 44px;
    width: max-content;
    padding: 0 var(--spacing-3);
    border-radius: var(--border-radius-3);
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
    justify-content: center;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: var(--box-shadow-glow);
}

.primary {
    background-color: var(--brand);
    color: var(--text-white);
}

.secondary {
    background-color: var(--brand-subdued);
    color: var(--brand);
}

.transparent {
    background-color: transparent;
}

.outline {
    background-color: transparent;
    border-width: var(--border-1);
    border-color: var(--border-color);
}

.gradient {
    background-color: var(--brand);
    color: var(--text-white);
}

.gradient:after {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--gradient-0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: 2.7s ease-in-out 0s infinite normal both running pulsing-gradient;
}

@keyframes pulsing-gradient {
    0% {
        transform: rotate(0deg);
        filter: blur(8px);
        border-radius: 5px;
    }
    33% {
        transform: rotate(-0.3deg) scale(1.03);
        filter: blur(10px);
        border-radius: 3px;
    }
    66% {
        transform: rotate(0.3deg) scale(0.99);
        filter: blur(14px);
        border-radius: 7px;
    }
    100% {
        transform: rotate(0deg);
        filter: blur(8px);
        border-radius: 5px;
    }
}
