.flex {
    display: flex;
    width: auto;
}

.gap-1 {
    gap: var(--spacing-1);
}

.gap-2 {
    gap: var(--spacing-2);
}

.gap-3 {
    gap: var(--spacing-3);
}

.gap-4 {
    gap: var(--spacing-4);
}

.gap-5 {
    gap: var(--spacing-5);
}

.gap-6 {
    gap: var(--spacing-6);
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

.direction-row-reverse {
    flex-direction: row-reverse;
}

.direction-column-reverse {
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.items-baseline {
    align-items: baseline;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.items-flex-end {
    align-items: flex-end;
}

.items-flex-start {
    align-items: flex-start;
}

.items-start {
    align-items: start;
}

.items-stretch {
    align-items: stretch;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-start {
    justify-content: start;
}

.full-width {
    width: 100%;
}
